name: Example CICD Workflow with Node.js

on:
  push:
    branches: [master, develop]

jobs:
  ci_test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

  